/* css para pagina principal */

#Logo{
    color: white;
}
#menuTop{
    color:white;
    
}
#menuTop>stan{
    padding: 1rem;
}
#menuTop>a{
    padding: 1rem;
    text-decoration: none;
    color: rgb(21, 199, 21);
}
  

.header{
    background-color: rgb(22, 22, 22);
}
body>main>h1{
    text-align: center;
}
body>main>h2{
    text-align: center;
    font-size: medium;
}
 #octubre{
    background-color: rgb(22, 22, 22); 
    color: white;
    margin-left: 0rem;
} 
#octubre>h1{
   font-size: 2rem;
} 
.quieroSerOrador>h2{
    text-align: center;
    font-size: medium;
}
.quieroSerOrador>h1{
    text-align: center;
    font-size: 2rem;
}
.quieroSerOrador>p{
    text-align: center;
    
}

#TextArea>p{
    text-align: start;
}

#btnEnviar{
    background-color: rgb(126, 241, 115);
    border-radius: 0.5rem; 
    width:100%;
    
}
 #PieDePagina{
    background-color:skyblue;
    text-align: center;
   
}
#PieDePagina>stan{
    color: blueviolet;
   
}

#titulos>h2{
    text-align: center;
    font-size: medium;
    
    
}

#titulos>h1{
    text-align: center;
    font-size: 1.5rem;
    
    
    
}
 #jumbotron{

    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/ba11.jpg);
        min-height: 500px;
        background-size: cover;
        background-position: center;
        
   
 
}
/* css para formulario compras */
#bodyCompraticket {
    background-color: rgb(22, 22, 22);
    background-image: url("image/ba3.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: contain;
    text-align: center;
}
#bodyCompraticket>h1{
    color: rgb(113, 244, 43);
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}


#formulario{
    color: rgb(113, 244, 43);
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    
}
#checkbox{
    width: 1.5rem;
    height: 1.5rem;
}
#btnReserva{
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 5%;
    width: 10%;
    font: bold15px arial,sans-serif;
    text-shadow: none;
    font-size: 1.5rem;
}
#btnVolver{
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 5%;
    width: 10%;
    font: bold15px arial,sans-serif;
    text-shadow: none;
    font-size: 1.5rem;
}
 